
form {
    background-image: url("img/list-bg.png");
}

section {
    background-image: url("img/hr-img.png");
}

ul {
    list-style-type: none;
}

#container2 {
    background-image: url("img/hr-line.JPG");
}

#divHeaderContainer {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#divHeaderColumn2 {
    margin-top: 20px;
}

#divHeaderColumn1 {
    display: flex;
    /* flex-direction: row; */
}

#headTitleRow {
    display: flex;
    flex-direction: column;
    /* border: red thin solid; */
    margin-top: -30px;
}

#Delicious {
    font-size: 32px;
    margin-left: 10px;
}

#DeliciousTag {
    /* height: 40px; */
    font-size: 14px;
    margin-top: -25px;
    color: rgb(146, 138, 138);
    margin-left: 10px;
}

#divHeaderColumn2 {
    display: flex;
    flex-direction: row;
}

#chocolateRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#chocolate {
    font-weight: bold;
    text-shadow: 2px 0;
    display: flex;
    flex-direction: column;

}

#divBodyColumn1 {
    font-size: 7px;
    color: rgb(146, 138, 138);
    margin-top: -25px;
    display: flex;
    flex-direction: column;

}
#divBodyColumn2 {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    /* border: red thin solid; */
    /* display: flex; */

    justify-content: space-betwee;n
    /* background-color: chocolate; */
}

#print {
    margin-top: 20px;
    height: 15px;
    /* width: px; */
    /* border: red thin solid; */
}

#printText {
    color: rgb(146, 138, 138);
    font-size: 20px;
    margin-left: 5px;
    /* margin-top: 24px; */
}

#container {
    background-image: url("img/list-bg.png");
    background-repeat: no-repeat;
    justify-content: center;
    /* display: absolute; */
    flex-direction: row;
    /* border: red thin solid; */
    display: flex;
    width: 800px;
}

.divUl {
    /* border: red thin solid; */
    width: 350px;
    font-size: 23px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: rgb(106, 100, 100);

    /* display: flex; */
}

#paper {
    /* border: red thin solid; */
}

/* #section {
    margin-top: 20px;
} */

#divFooterRow1 {
    /* border: red thin solid; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

#divFooterrColumn1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#Vanessa {
    /* border: red thin solid; */
    width: 250px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: -5px;
}

#Vanessablurb {
    /* border: red thin solid; */
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin-top: -40;
    width: 350px;
    color: rgb(146, 138, 138);
}

#van-pic {
    margin-top: 12px;
    /* border: red thin solid; */
    
}



button {
    background-color: chocolate;
    border: 0;
    height: 40px;
    width: 120px;
    margin-top: 15px;
    margin-left: 350px;
}

#container2 {
    display: flex;
    justify-content: center;
    margin: 20px 10px 20px 10px;
}

.p {
    display: flex;
    justify-content: center;
}



