/* hr {
    border-top:1px dotted #f00;
    height: 10px;
} */

form {
    background-image: url("img/list-bg.png");
}

section {
    background-image: url("img/hr-img.png");
}

ul {
    list-style-type:none;
}

#container2 {
    background-image: url("img/hr-line.JPG");
}